.group-child19 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro-100);
  width: 1512px;
  height: 517px;
}
.a274d064-57ae-42c8-8151-ae5d94-icon4 {
  object-fit: cover;
}
.a274d064-57ae-42c8-8151-ae5d94-icon4,
.rectangle-parent12 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 517px;
}
.bai-viet-inner,
.group-parent2,
.rectangle-parent13 {
  position: absolute;
  top: 0;
  left: 1512px;
  width: 1512px;
  height: 517px;
}
.bai-viet-inner,
.group-parent2 {
  left: 0;
  width: 3024px;
}
.bai-viet-inner {
  height: 12.29%;
  width: 100%;
  top: 2.76%;
  right: 0;
  bottom: 84.95%;
  overflow: hidden;
}
.bi-vit2,
.khuyn-mi3 {
  height: 0.67%;
  top: 1.07%;
}
.khuyn-mi3 {
  position: absolute;
  width: 10.58%;
  left: 63.62%;
  display: inline-block;
  cursor: pointer;
}
.bi-vit2 {
  width: 6.75%;
  left: 79.63%;
}
.bi-vit2,
.ru-vang8,
.v-easy-shop2 {
  position: absolute;
  display: inline-block;
}
.v-easy-shop2 {
  height: 0.83%;
  width: 11.44%;
  top: 1.07%;
  left: 11.77%;
  cursor: pointer;
}
.ru-vang8 {
  height: 100%;
  width: 91.42%;
  top: 0;
  left: 0;
}
.ru-vang-wrapper {
  position: absolute;
  height: 0.67%;
  width: 8.83%;
  top: 1.07%;
  right: 62.21%;
  bottom: 98.26%;
  left: 28.97%;
  cursor: pointer;
}
.group-child21 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-gray-300);
}
.shop-icon {
  position: absolute;
  height: 4.72%;
  width: 1.59%;
  top: 30.06%;
  right: 23.15%;
  bottom: 65.23%;
  left: 75.26%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-child22 {
  position: absolute;
  height: 0.2%;
  width: 100.07%;
  top: 80.06%;
  right: -0.03%;
  bottom: 19.74%;
  left: -0.03%;
  border-top: 1px solid var(--color-white);
  box-sizing: border-box;
}
.easy-shop-container1 {
  position: absolute;
  height: 15.13%;
  width: 22.02%;
  top: 46.95%;
  left: 0.33%;
  font-size: var(--font-size-7xl);
  font-family: var(--font-oswald);
  text-align: center;
  display: inline-block;
}
.d386ad6f-5fff-4289-ae8e-08fabf-icon10 {
  position: absolute;
  height: 42.24%;
  width: 14.22%;
  top: 7.47%;
  right: 81.55%;
  bottom: 50.29%;
  left: 4.23%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  cursor: pointer;
}
.chnh-sch-chung-container1,
.kt-ni-vi1 {
  position: absolute;
  height: 6.68%;
  width: 16.07%;
  top: 18.47%;
  left: 24.8%;
  font-size: var(--font-size-6xl);
  display: inline-block;
}
.kt-ni-vi1 {
  width: 18.65%;
  left: 48.74%;
}
.lin-h1,
.phone-fill-icon1 {
  position: absolute;
  left: 75.26%;
}
.lin-h1 {
  height: 6.68%;
  width: 6.81%;
  top: 18.47%;
  font-size: var(--font-size-6xl);
  display: inline-block;
}
.phone-fill-icon1 {
  height: 5.89%;
  width: 1.98%;
  top: 56.19%;
  right: 22.75%;
  bottom: 37.92%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.chnh-sch-quy-container1 {
  position: absolute;
  height: 33.79%;
  width: 18.58%;
  top: 28.29%;
  left: 24.8%;
  line-height: 210.69%;
  display: inline-block;
}
.facebook-negative1,
.instagram-negative1,
.youtube-negative1 {
  position: absolute;
  height: 5.89%;
  width: 1.98%;
  top: 30.06%;
  right: 49.34%;
  bottom: 64.05%;
  left: 48.68%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.instagram-negative1,
.youtube-negative1 {
  top: 38.7%;
  bottom: 55.4%;
}
.instagram-negative1 {
  top: 47.15%;
  bottom: 46.95%;
}
.facebook1,
.s-43-t61 {
  position: absolute;
  height: 9.23%;
  width: 6.75%;
  top: 28.29%;
  left: 51.59%;
  line-height: 210.69%;
  display: inline-block;
}
.s-43-t61 {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.container,
.s-43-t6-tp-th-s-on-361-t-container {
  position: absolute;
  height: 9.23%;
  width: 21.36%;
  top: 28.29%;
  right: 1.26%;
  bottom: 62.48%;
  left: 77.38%;
}
.container {
  width: 8.4%;
  top: 53.83%;
  right: 14.22%;
  bottom: 36.94%;
}
.instagram1,
.ung-ru-bia-container1,
.youtube1 {
  position: absolute;
  height: 9.23%;
  width: 6.75%;
  top: 36.94%;
  left: 51.59%;
  line-height: 210.69%;
  display: inline-block;
}
.instagram1,
.ung-ru-bia-container1 {
  top: 45.38%;
}
.ung-ru-bia-container1 {
  height: 10.22%;
  width: 53.04%;
  top: 83.5%;
  left: 24.87%;
  line-height: 138.19%;
  font-weight: 800;
  text-align: center;
}
.rectangle-parent14 {
  position: absolute;
  height: 12.1%;
  width: 100%;
  top: 87.9%;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: var(--font-size-2xl);
  font-family: var(--font-roboto);
}
.bi-vit3 {
  position: absolute;
  height: 1.97%;
  width: 79.03%;
  top: 16.76%;
  left: 10.45%;
  font-size: var(--font-size-36xl);
  display: inline-block;
  color: var(--color-black);
  text-align: center;
}
.vector-icon15 {
  position: absolute;
  height: 0.59%;
  width: 1.65%;
  top: 1.24%;
  right: 95.17%;
  bottom: 98.17%;
  left: 3.17%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.component-inner,
.icon {
  position: absolute;
  height: 99.85%;
  top: 0.15%;
  bottom: 0;
  left: 0;
}
.component-inner {
  width: 100%;
  right: 0;
  border-radius: var(--br-18xl);
  background: linear-gradient(253.27deg, #020402, #6a6a6a);
}
.icon {
  width: 33.33%;
  right: 66.67%;
  border-radius: var(--br-18xl) 0 0 var(--br-18xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.thi-im-thch {
  margin: 0;
}
.thi-im-thch-container {
  height: 16.67%;
  width: 98.05%;
  top: 12.12%;
  left: 1.95%;
  font-size: var(--font-size-24xl);
  text-transform: uppercase;
}
.bi-vit-mi,
.thi-im-thch-container,
.tng-qu-tt-container {
  position: absolute;
  display: inline-block;
}
.bi-vit-mi {
  height: 8.84%;
  width: 20.73%;
  top: 0;
  left: 0;
  text-transform: uppercase;
  color: var(--color-sandybrown);
  text-align: center;
}
.tng-qu-tt-container {
  height: 32.83%;
  width: 96.22%;
  top: 49.75%;
  left: 1.95%;
  line-height: 152.19%;
  font-family: var(--font-roboto);
}
.c-thm,
.group-child23 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.group-child23 {
  right: 0;
  bottom: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.c-thm {
  font-size: var(--font-size-xl);
  font-family: var(--font-roboto);
  color: var(--color-white);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.vector-parent {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 11.36%;
  width: 18.78%;
  top: 88.64%;
  right: 79.27%;
  bottom: 0;
  left: 1.95%;
}
.thi-im-thch-hp-tng-qu-parent {
  position: absolute;
  height: 60.83%;
  width: 56.47%;
  top: 19.05%;
  right: 8.26%;
  bottom: 20.12%;
  left: 35.26%;
}
.d386ad6f-5fff-4289-ae8e-08fabf-icon11 {
  position: absolute;
  height: 12.14%;
  width: 6.2%;
  top: 0;
  right: 0;
  bottom: 87.86%;
  left: 93.8%;
  border-radius: var(--br-18xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.rectangle-parent15 {
  position: absolute;
  height: 15.45%;
  width: 96.03%;
  top: 19.94%;
  right: 1.98%;
  bottom: 64.61%;
  left: 1.98%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  font-size: var(--font-size-xl);
}
.component-child1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-18xl);
  background: linear-gradient(253.27deg, #020402, #6a6a6a);
}
.d386ad6f-5fff-4289-ae8e-08fabf-icon12,
.icon1 {
  position: absolute;
  height: 100%;
  width: 33.33%;
  top: 0;
  right: 66.67%;
  bottom: 0;
  left: 0;
  border-radius: var(--br-18xl) 0 0 var(--br-18xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.d386ad6f-5fff-4289-ae8e-08fabf-icon12 {
  height: 12.15%;
  width: 6.2%;
  right: 0;
  bottom: 87.85%;
  left: 93.8%;
  border-radius: var(--br-18xl);
}
.c-thm1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.vector-group {
  position: absolute;
  height: 11.36%;
  width: 18.78%;
  top: 88.64%;
  right: 79.27%;
  bottom: 0;
  left: 1.95%;
  text-align: center;
  font-family: var(--font-roboto);
}
.top-5-mn-qu-tt-ngoi-nhp-b-parent {
  position: absolute;
  height: 60.92%;
  width: 56.47%;
  top: 18.92%;
  right: 8.26%;
  bottom: 20.15%;
  left: 35.26%;
}
.rectangle-parent16 {
  position: absolute;
  height: 15.45%;
  width: 96.03%;
  top: 54.41%;
  right: 1.98%;
  bottom: 30.14%;
  left: 1.98%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  font-size: var(--font-size-xl);
}
.component-child2 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-18xl);
  background: linear-gradient(106.38deg, #000, rgba(0, 0, 0, 0.63));
}
.d386ad6f-5fff-4289-ae8e-08fabf-icon13,
.ru-1-icon {
  position: absolute;
  height: 12.15%;
  width: 6.2%;
  top: 0;
  right: 93.8%;
  bottom: 87.85%;
  left: 0;
  border-radius: var(--br-18xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.ru-1-icon {
  height: 100%;
  width: 33.07%;
  right: 0;
  bottom: 0;
  left: 66.93%;
  border-radius: 0 var(--br-18xl) var(--br-18xl) 0;
}
.bi-vit-mi1,
.gi-qu-tt-container {
  position: absolute;
  left: 0;
  text-transform: uppercase;
  display: inline-block;
}
.gi-qu-tt-container {
  height: 18.97%;
  width: 100%;
  top: 13.79%;
  font-size: var(--font-size-24xl);
}
.bi-vit-mi1 {
  height: 10.06%;
  width: 17.41%;
  top: 0;
  color: var(--color-sandybrown);
  text-align: center;
}
.mi-dp-tt,
.vector-container {
  position: absolute;
  left: 0;
  font-family: var(--font-roboto);
}
.mi-dp-tt {
  height: 43.39%;
  width: 94.72%;
  top: 36.49%;
  line-height: 152.19%;
  display: inline-block;
}
.vector-container {
  height: 12.93%;
  width: 18.49%;
  top: 87.07%;
  right: 81.51%;
  bottom: 0;
  text-align: center;
}
.gi-qu-tt-tng-cho-i-tc-n-parent {
  position: absolute;
  height: 53.54%;
  width: 57.37%;
  top: 23.23%;
  right: 39.53%;
  bottom: 23.23%;
  left: 3.1%;
}
.component-child3,
.rectangle-parent17 {
  position: absolute;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.rectangle-parent17 {
  height: 15.45%;
  width: 96.03%;
  top: 37.18%;
  right: 1.98%;
  bottom: 47.37%;
  left: 1.98%;
  font-size: var(--font-size-xl);
}
.component-child3 {
  height: 100%;
  width: 99.93%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0.07%;
  border-radius: var(--br-18xl);
  background: linear-gradient(106.38deg, #000, rgba(0, 0, 0, 0.63));
}
.d386ad6f-5fff-4289-ae8e-08fabf-icon14,
.ru-1-icon1 {
  position: absolute;
  height: 12.15%;
  width: 6.19%;
  top: 0;
  right: 93.81%;
  bottom: 87.85%;
  left: 0;
  border-radius: var(--br-18xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.ru-1-icon1 {
  height: 100%;
  width: 33.05%;
  right: 0.07%;
  bottom: 0;
  left: 66.89%;
  border-radius: 0 var(--br-18xl) var(--br-18xl) 0;
}
.bi-vit-mi2,
.ngha-gi-qu {
  position: absolute;
  left: 0;
  text-transform: uppercase;
  display: inline-block;
}
.ngha-gi-qu {
  height: 17.32%;
  width: 100%;
  top: 9.19%;
  font-size: var(--font-size-24xl);
}
.bi-vit-mi2 {
  height: 9.19%;
  width: 17.37%;
  top: 0;
  color: var(--color-sandybrown);
  text-align: center;
}
.mt-phn-khng,
.vector-parent1 {
  position: absolute;
  left: 0;
  font-family: var(--font-roboto);
}
.mt-phn-khng {
  height: 40.42%;
  width: 93.05%;
  top: 44.62%;
  line-height: 152.19%;
  display: inline-block;
}
.vector-parent1 {
  height: 11.81%;
  width: 18.44%;
  top: 88.19%;
  right: 81.56%;
  bottom: 0;
  text-align: center;
}
.ngha-gi-qu-tt-l-g-ngh-parent {
  position: absolute;
  height: 58.62%;
  width: 57.47%;
  top: 20%;
  right: 39.44%;
  bottom: 21.38%;
  left: 3.1%;
}
.rectangle-parent18 {
  position: absolute;
  height: 15.45%;
  width: 96.03%;
  top: 71.64%;
  right: 1.98%;
  bottom: 12.91%;
  left: 1.98%;
  font-size: var(--font-size-xl);
}
.vector-icon16,
.vector-icon17 {
  position: absolute;
  height: 0.59%;
  width: 1.65%;
  top: 1.07%;
  right: 1.86%;
  bottom: 98.34%;
  left: 96.49%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
}
.vector-icon17 {
  right: 8.07%;
  left: 90.28%;
}
.bai-viet-child {
  position: absolute;
  height: 2.8%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 97.2%;
  left: 0;
  background-color: var(--color-gray-300);
}
.bi-vit4,
.khuyn-mi4,
.v-easy-shop3 {
  position: absolute;
  top: 1.07%;
  display: inline-block;
}
.khuyn-mi4 {
  width: 10.78%;
  left: 63.43%;
  cursor: pointer;
}
.bi-vit4,
.v-easy-shop3 {
  width: 5.75%;
  left: 79.43%;
}
.v-easy-shop3 {
  width: 9.46%;
  left: 11.77%;
  cursor: pointer;
}
.d386ad6f-5fff-4289-ae8e-08fabf-icon15 {
  position: absolute;
  height: 5.32%;
  width: 12.37%;
  top: 0;
  right: 43.98%;
  bottom: 94.68%;
  left: 43.65%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  cursor: pointer;
}
.ru-vang9 {
  position: absolute;
  width: 8.27%;
  top: 1.07%;
  left: 29.03%;
  display: inline-block;
  cursor: pointer;
}
.vector-icon18 {
  width: 1.69%;
  top: 1.07%;
  right: 8.04%;
  bottom: 98.34%;
  left: 90.28%;
  cursor: pointer;
}
.vector-icon18,
.vector-icon19,
.vector-icon20 {
  position: absolute;
  height: 0.59%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon19 {
  width: 1.69%;
  top: 1.07%;
  right: 2.16%;
  bottom: 98.34%;
  left: 96.15%;
  cursor: pointer;
}
.vector-icon20 {
  width: 1.65%;
  top: 1.19%;
  right: 95.44%;
  bottom: 98.22%;
  left: 2.91%;
}
.bai-viet {
  position: relative;
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 4207px;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-oswald);
}
