.forgot-password-child {
  position: absolute;
  height: 0.07%;
  width: 98.74%;
  top: 14.9%;
  right: 1.29%;
  bottom: 85.03%;
  left: -0.03%;
  border-top: 1px solid var(--color-white);
  box-sizing: border-box;
}
.d386ad6f-5fff-4289-ae8e-08fabf-icon3 {
  position: absolute;
  height: 14.93%;
  width: 15.94%;
  top: 0;
  right: 84.06%;
  bottom: 85.07%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  cursor: pointer;
}
.english1,
.vector-icon7 {
  position: absolute;
  cursor: pointer;
}
.english1 {
  top: 6.87%;
  left: 78.84%;
  font-size: var(--font-size-21xl);
  font-family: var(--font-lato);
  text-align: left;
}
.vector-icon7 {
  height: 3.33%;
  width: 3.31%;
  top: 7.07%;
  right: 6.22%;
  bottom: 89.6%;
  left: 90.48%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.forgot-password-item {
  position: absolute;
  height: 67.6%;
  width: 80.16%;
  top: 23.33%;
  right: 9.92%;
  bottom: 9.07%;
  left: 9.92%;
  background-color: var(--color-white);
}
.forgot-password-inner {
  position: absolute;
  height: 7.2%;
  width: 32.28%;
  top: 69.27%;
  right: 14.81%;
  bottom: 23.53%;
  left: 52.91%;
  border-radius: var(--br-11xl);
  background-color: var(--color-springgreen);
}
.click-to-get1 {
  position: absolute;
  top: 71.13%;
  left: 61.31%;
  color: var(--color-black);
}
.please-enter-the,
.reset-password {
  position: absolute;
  top: 32.73%;
  left: 14.55%;
  font-size: var(--font-size-11xl);
  color: var(--color-gray-200);
}
.reset-password {
  top: 25.8%;
  left: 36.71%;
  font-size: var(--font-size-51xl);
  color: var(--color-black);
}
.forgot-password-child1 {
  position: absolute;
  height: 5.87%;
  width: 32.28%;
  top: 79.93%;
  right: 33.86%;
  bottom: 14.2%;
  left: 33.86%;
  border-radius: var(--br-46xl);
  background-color: var(--color-red-100);
  cursor: pointer;
}
.change-password {
  position: absolute;
  top: 81.13%;
  left: 41.6%;
  cursor: pointer;
}
.instance-child2,
.instance-child3,
.instance-child4,
.instance-child5 {
  position: absolute;
  height: 18.37%;
  width: 99.81%;
  top: 27.21%;
  right: 0.19%;
  bottom: 54.42%;
  left: 0;
  border-radius: var(--br-11xl);
  background-color: var(--color-white);
  border: 3px solid var(--color-black);
  box-sizing: border-box;
  font-size: 40px;
}
.instance-child3,
.instance-child4,
.instance-child5 {
  top: 54.42%;
  bottom: 27.21%;
}
.instance-child4,
.instance-child5 {
  width: 46.36%;
  top: 81.63%;
  right: 53.64%;
  bottom: 0;
}
.instance-child5 {
  width: 99.81%;
  top: 0;
  right: 0.19%;
  bottom: 81.63%;
}
.user-name1 {
  position: absolute;
  top: 4.76%;
  left: 4.86%;
  font-weight: 200;
}
.enter-the-otp1,
.new-password,
.registered-phone-number {
  position: absolute;
  top: 31.97%;
  left: 4.86%;
  font-weight: 200;
}
.enter-the-otp1,
.new-password {
  top: 86.39%;
  left: 10.65%;
}
.new-password {
  top: 59.18%;
  left: 4.86%;
}
.group-div {
  position: absolute;
  height: 39.2%;
  width: 70.77%;
  top: 37.27%;
  right: 14.68%;
  bottom: 23.53%;
  left: 14.55%;
  color: var(--color-darkgray);
}
.easyshop3 {
  position: absolute;
  top: 5%;
  left: 14.62%;
  font-size: var(--font-size-31xl);
  text-align: left;
}
.forgot-password {
  position: relative;
  background-color: var(--color-black);
  width: 100%;
  height: 1500px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-16xl);
  color: var(--color-white);
  font-family: var(--font-oswald);
}
