.group-child15 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro-100);
  width: 1512px;
  height: 517px;
}
.a274d064-57ae-42c8-8151-ae5d94-icon2 {
  object-fit: cover;
}
.a274d064-57ae-42c8-8151-ae5d94-icon2,
.rectangle-parent8 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 517px;
}
.group-parent1,
.khuyen-mai-inner,
.rectangle-parent9 {
  position: absolute;
  top: 0;
  left: 1512px;
  width: 1512px;
  height: 517px;
}
.group-parent1,
.khuyen-mai-inner {
  left: 0;
  width: 3024px;
}
.khuyen-mai-inner {
  height: 22.9%;
  width: 100%;
  top: 4.72%;
  right: 0;
  bottom: 72.38%;
  overflow: hidden;
}
.group-child17 {
  position: absolute;
  height: 100%;
  width: 99.93%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0.07%;
  background-color: var(--color-gray-300);
}
.shop-child {
  position: absolute;
  height: 32.53%;
  width: 29.17%;
  top: 58.74%;
  right: 35.42%;
  bottom: 8.74%;
  left: 35.42%;
  border-radius: 1px;
}
.shop-child,
.shop-inner,
.shop-item {
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.shop-item {
  position: absolute;
  height: 45.43%;
  width: 66.67%;
  top: 45.83%;
  right: 16.67%;
  bottom: 8.74%;
  left: 16.67%;
  border-radius: 2px;
}
.shop-inner {
  height: 40.86%;
  width: 81.23%;
  top: 8.74%;
  right: 9.38%;
  bottom: 50.4%;
  left: 9.39%;
}
.line-div,
.shop,
.shop-inner {
  position: absolute;
}
.shop {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  height: 4.72%;
  width: 1.59%;
  top: 30.06%;
  right: 23.13%;
  bottom: 65.23%;
  left: 75.28%;
}
.line-div {
  height: 0.18%;
  width: 100%;
  top: 80.07%;
  right: -0.03%;
  bottom: 19.75%;
  left: 0.03%;
  border-top: 1px solid var(--color-white);
  box-sizing: border-box;
}
.easy-shop- {
  margin: 0;
}
.easy-shop-container {
  position: absolute;
  height: 15.13%;
  width: 22.8%;
  top: 46.95%;
  left: 0;
  font-size: var(--font-size-7xl);
  font-family: var(--font-oswald);
  text-align: center;
  display: inline-block;
}
.d386ad6f-5fff-4289-ae8e-08fabf-icon8 {
  position: absolute;
  height: 42.24%;
  width: 14.21%;
  top: 7.47%;
  right: 81.49%;
  bottom: 50.29%;
  left: 4.3%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  cursor: pointer;
}
.chnh-sch-chung-container,
.kt-ni-vi {
  position: absolute;
  height: 6.68%;
  width: 16.06%;
  top: 18.47%;
  left: 24.85%;
  font-size: var(--font-size-6xl);
  display: inline-block;
}
.kt-ni-vi {
  width: 18.64%;
  left: 48.78%;
}
.lin-h,
.phone-fill-icon {
  position: absolute;
  left: 75.28%;
}
.lin-h {
  height: 6.68%;
  width: 6.81%;
  top: 18.47%;
  font-size: var(--font-size-6xl);
  display: inline-block;
}
.phone-fill-icon {
  height: 5.89%;
  width: 1.98%;
  top: 56.19%;
  right: 22.74%;
  bottom: 37.92%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.chnh-sch-quy-container {
  position: absolute;
  height: 33.79%;
  width: 18.57%;
  top: 28.29%;
  left: 24.85%;
  line-height: 210.69%;
  display: inline-block;
}
.facebook-negative,
.instagram-negative,
.youtube-negative {
  position: absolute;
  height: 5.89%;
  width: 1.98%;
  top: 30.06%;
  right: 49.31%;
  bottom: 64.05%;
  left: 48.71%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.instagram-negative,
.youtube-negative {
  top: 38.7%;
  bottom: 55.4%;
}
.instagram-negative {
  top: 47.15%;
  bottom: 46.95%;
}
.facebook,
.s-43-t6 {
  position: absolute;
  height: 9.23%;
  width: 6.74%;
  top: 28.29%;
  left: 51.62%;
  line-height: 210.69%;
  display: inline-block;
}
.s-43-t6 {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.s-43-t6-tp-th-s-on-361-t-wrapper,
.wrapper {
  position: absolute;
  height: 9.23%;
  width: 21.35%;
  top: 28.29%;
  right: 1.26%;
  bottom: 62.48%;
  left: 77.4%;
}
.wrapper {
  width: 8.39%;
  top: 53.83%;
  right: 14.21%;
  bottom: 36.94%;
}
.instagram,
.ung-ru-bia-container,
.youtube {
  position: absolute;
  height: 9.23%;
  width: 6.74%;
  top: 36.94%;
  left: 51.62%;
  line-height: 210.69%;
  display: inline-block;
}
.instagram,
.ung-ru-bia-container {
  top: 45.38%;
}
.ung-ru-bia-container {
  height: 10.22%;
  width: 53.01%;
  top: 83.5%;
  left: 24.92%;
  line-height: 138.19%;
  font-weight: 800;
  text-align: center;
}
.rectangle-parent10 {
  position: absolute;
  height: 22.54%;
  width: 100.07%;
  top: 77.46%;
  right: 0;
  bottom: 0;
  left: -0.07%;
  font-size: var(--font-size-2xl);
  font-family: var(--font-roboto);
}
.khuyn-mi1 {
  position: absolute;
  height: 3.68%;
  width: 22.75%;
  top: 28.2%;
  left: 38.49%;
  font-size: var(--font-size-36xl);
  display: inline-block;
  color: var(--color-black);
  text-align: center;
}
.group-child18,
.khuyen-mai-child {
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
}
.khuyen-mai-child {
  height: 40.35%;
  top: 34.08%;
  bottom: 25.57%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.group-child18 {
  height: 100%;
  top: 0;
  bottom: 0;
  background-color: rgba(217, 217, 217, 0.65);
}
.tip-tc-mua,
.xin-li-hin-container {
  position: absolute;
  height: 42.71%;
  width: 99.85%;
  top: 0.64%;
  left: 0.15%;
  display: inline-block;
}
.tip-tc-mua {
  height: 12.15%;
  width: 99.69%;
  top: 87.85%;
  left: 0.31%;
  text-decoration: underline;
  cursor: pointer;
}
.rectangle-parent11 {
  position: absolute;
  height: 34.63%;
  width: 42.99%;
  top: 36.55%;
  right: 28.7%;
  bottom: 28.82%;
  left: 28.31%;
  box-shadow: -13px 21px 18px rgba(0, 0, 0, 0.25);
  text-align: center;
  font-size: var(--font-size-36xl);
  color: var(--color-black);
}
.khuyen-mai-item {
  position: absolute;
  height: 4.72%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 95.28%;
  left: 0;
  background-color: var(--color-gray-300);
}
.bi-vit1,
.khuyn-mi2,
.v-easy-shop1 {
  position: absolute;
  width: 10.78%;
  top: 1.8%;
  left: 63.43%;
  display: inline-block;
}
.bi-vit1,
.v-easy-shop1 {
  width: 5.75%;
  left: 79.43%;
  cursor: pointer;
}
.v-easy-shop1 {
  width: 9.46%;
  left: 11.77%;
}
.d386ad6f-5fff-4289-ae8e-08fabf-icon9 {
  position: absolute;
  height: 8.96%;
  width: 12.37%;
  top: 0;
  right: 43.98%;
  bottom: 91.04%;
  left: 43.65%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  cursor: pointer;
}
.ru-vang7 {
  position: absolute;
  width: 8.27%;
  top: 1.8%;
  left: 29.03%;
  display: inline-block;
  cursor: pointer;
}
.vector-icon12 {
  width: 1.69%;
  top: 1.8%;
  right: 8.04%;
  bottom: 97.2%;
  left: 90.28%;
  cursor: pointer;
}
.vector-icon12,
.vector-icon13,
.vector-icon14 {
  position: absolute;
  height: 1%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon13 {
  width: 1.69%;
  top: 1.8%;
  right: 2.16%;
  bottom: 97.2%;
  left: 96.15%;
  cursor: pointer;
}
.vector-icon14 {
  width: 1.65%;
  top: 2%;
  right: 95.44%;
  bottom: 97%;
  left: 2.91%;
}
.khuyen-mai {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 2500px;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-oswald);
}
